* {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-image: url("./../image/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 4rem;
}

h1 {
    color: #fff;
    font-size: 1.5rem;
}

.container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(228, 222, 222);
    border-radius: 0.5rem;
}

h2 {
    padding: 1rem 0 1rem 1rem;
}

#card-all {
    display: flex;
    flex-direction: column;
}

.card {
    height: 8vh;
    background-color: #ffff;
    border-radius: 0.5rem;
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.create {
    margin: 0.5rem;
}

.button {
    width: 6vw;
    height: 5vh;
    background-color: green;
    color: #ffff;
    border-radius: 0.3rem;
}

.button:hover {
    background-color: rgb(111, 158, 111);
    font-weight: 800;
}

@media all and (max-width: 320px) {
    body {
        background-size: 300%;
        margin: 2rem;
    }
    .container {
        width: 100%;
    }
    .button {
        width: 30vw;
        height: 6vh;
    }
}

@media all and (min-width: 768px) {
    body {
        background-size: 150%;
        margin: 2rem;
    }
    .container {
        width: 100%;
    }
    .button {
        width: 30vw;
        height: 6vh;
    }
}